:root {
    --1: #005A9C;
    --2: #1C9D39;
    --3: #1a1a1a;
    --4: #1e90ff;
    --5: #213547;
    --6: #23527c;
    --7: #242424;
    --8: #337ab7;
    --9: #358337;
    --10: #3e97eb;
    --11: #409eff;
    --12: #40a0ff49;
    --13: #535bf2;
    --14: #555;
    --15: #5783f7;
    --16: #5f5f5f;
    --17: #606266;
    --18: #646cff;
    --19: #646cffaa;
    --20: #666;
    --21: #747bff;
    --22: #777;
    --23: #7aca7c;
    --24: #888;
    --25: #8d75a3;
    --26: #8f9193;
    --27: #91a7ff;
    --28: #999;
    --wcolor-gray-primary: #9d9d9d;

    --31: #B82020;
    --32: #C7C7C7;
    --33: #EAFFF8;
    --34: #FFF1FF;
    --35: #a33a3a;
    --36: #aaa;
    --37: #ad2121;
    --38: #b3d8ff;
    --39: #c0c0c0;
    --40: #c0c4c8;
    --41: #c72d1c;
    --42: #c9e2f9;
    --bcolor-gray-tertiary: #cecece;
    --44: #dcdfe6;
    --45: #ddd;
    --46: #ded1b7;
    --47: #e3e0e0;
    --48: #e4e4e4;
    --49: #e8e8e8;
    --50: #e96a6a;
    --51: #ecf5ff;
    --52: #ed341d;
    --53: #eef3fe;
    --bcolor-gray-secondary: #efefef;
    --55: #f56c6c;
    --56: #f7df1eaa;
    --57: #f9f9f9;
    --bcolor-gray-primary: #fafafa;
    --59: #fbc4c4;
    --60: #fef0f0;
    --62: #ffffff;
}





body {
    margin: 0;
    padding: 0;
    background-color: var(--bcolor-gray-primary);
    overflow-x: hidden;
    overflow-y: hidden
}

#test-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 50px;
    background-color: palevioletred;
    /* display: inline-block; */
    display: none;
}

#container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 1200px;
    /* background-color: aqua; */
    margin: auto;
    display: grid;
    /* grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; */
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(15, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#sidebox {
    height: 100%;
    width: 400px;
    /* background-color: greenyellow; */
    display: inline-block;
    grid-area: 1 / 1 / 16 / 2;
}

#search-box {
    /* background-color: gray; */
    display: inline-block;
    grid-area: 1 / 2 / 2 / 3;
    position: relative;

}

#inbox-in {
    /* background-color: rgb(175, 175, 175); */
    display: inline-block;
    grid-area: 2 / 2 / 5 / 3;
    box-sizing: border-box;
    padding: 0px 20px;
    position: relative;
}

#content {
    /* border: solid rgb(218, 208, 208); */
    grid-area: 5 / 2 / 16 / 3;
    overflow: auto;
    position: relative;
    top: 10px;

}

#content::-webkit-scrollbar {
    width: 6px;
    background: var(--bcolor-gray-primary);
}

#content::-webkit-scrollbar-track {
    border-radius: 2px;
}

#content:hover::-webkit-scrollbar-thumb {
    /* background: #40a0ff; */
    background: #40a0ff49;
    border-radius: 10px;
}



.box:first-child {
    margin-top: 0px;
}

#logo {
    /* background-color: white; */
    height: 30px;
    margin: 10px;
    position: relative;
}

#heatmap {
    /* background-color: wheat; */
    background-color: var(--bcolor-gray-primary);
    height: 250px;
    margin: 10px;
}

#shop {
    /* background-color: rgb(211, 143, 15); */
    background-color: var(--bcolor-gray-primary);
    height: 150px;
    margin: 10px;
    position: relative;
}

#tags {
    /* background-color: rgb(215, 179, 245); */
    height: 460px;
    margin: 10px;
    position: relative;
}