 #brand {
     position: absolute;
     top: 16px;
     left: 18px;
     user-select: none;
 }

 #brand-container {
     font-size: 18px;
     font-weight: bold;
     /* box-sizing: border-box; */
     padding: 5px 5px;
     transition: 0.3s;
     width: 120px;
     height: 25px;
     display: inline-block;
     color: #5f5f5f;
     /* background-color: red; */
 }

 #brand-container:hover {
     background-color: var(--bcolor-gray-secondary);
     cursor: pointer;
     border-radius: 5px;
 }

 #brand-text {
     display: inline-block;
 }

 .brand-sub-container {
     line-height: 25px;
 }

 .brand-sub-container .fa {
     line-height: 25px;
 }

 /* .brand-sub1-hide {
     display: none;
 } */

 .brand-sub2-hide {
     display: none;
 }

 #brand-slash,
 #brand-tag-name {
     display: inline-block;
     font-size: 18px;
     font-weight: bold;
     color: #5f5f5f;
     display: none;
 }

 #brand-slash {
     color: var(--wcolor-gray-primary);
 }

 #brand-tag-name {
     margin: 5px 3px;
 }

 #brand-sync-text {
     display: inline-block;
 }

 .brand-sub1-show {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 .brand-sub2-show {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 #brand-sub2 {
     line-height: 25px;
 }