#inbox {
    width: 760px;
    /* height: 160px; */
    /* background-color: rgb(4, 118, 118); */
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    z-index: 999;
    background-color: white;
    font-family: "Microsoft YaHei";
}


/* #inbox:has(:focus) {
            box-shadow: 0 2px 16px lightblue;
        } */

#inbox-ta {
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    border: none;
    background-color: white;
    padding: 0;
    resize: none;
    padding: 15px;
    padding-bottom: 5px;
    font-size: 18px;
    margin: 0;
    /* line-height: 150%; */
    overflow: hidden;
}

#inbox-ta:focus {
    outline: none;
}

#inbox-toolbar {
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: white;
}

#inbox-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#inbox-tools-container {
    width: 200px;
    margin-left: 5px;
}

#enter-btn {
    width: 45px;
    height: 27px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    background-color: var(--bcolor-gray-tertiary)
}

#enter-btn:hover {
    cursor: pointer;
}

.fa-paper-plane {
    color: white;
}

#inbox-tools-container {
    color: var(--bcolor-gray-tertiary);
}

#inbox-add-batch {
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

#inbox-add-batch:hover {
    cursor: pointer;
}

.fa-plus {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
}

.inbox-tools {
    /* display: inline-block; */
    display: none;
}

#inbox-add-batch-process {
    display: inline-block;
    display: none;
}

#inbox-process-icon {
    display: inline-block;
    color: green;
}