#reading-sentence {
    height: 25px;
    width: 100%;
    /* background-color: rgb(113, 113, 222); */
    margin: auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#painter {
    width: 800px;
    height: 500px;
    position: relative;
    top: 0px;
    margin: auto;
}

#reading-app {
    width: 100%;
}

#reading-speaker {
    text-align: center;
    font-size: 25px;
    box-sizing: border-box;
    padding: 10px 0;
    color: green;
}

.fa-volume-up:hover {
    cursor: pointer;
}