#rlayer {
    width: 765px;
    height: 875px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: #fafafa;
    position: absolute;
    top: 0px;
    right: 20px;
    z-index: 999;
}