#searchBox {
    width: 250px;
    height: 45px;
    border-radius: 8px;
    background-color: var(--bcolor-gray-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    color: var(--wcolor-gray-primary);
    position: absolute;
    top: 7px;
    right: 20px;
}

#searchBox-input {
    width: 180px;
    border: none;
    outline: none;
    background-color: var(--bcolor-gray-secondary);
    color: #606266;
}

#searchBox .fa-search,
#searchBox .fa-sliders {
    display: inline-block;
    height: 30px;
    line-height: 30px;
}


#searchBox .fa-search:hover {
    cursor: pointer;
}

#searchBox .fa-sliders:hover {
    cursor: pointer;
}