.box {
    background-color: white;
    display: inline-block;
    box-sizing: border-box;
    width: 95%;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-family: "Microsoft YaHei";
    transition: 0.3s;
    margin: 10px auto;
}

.box:hover {
    box-shadow: 0 2px 16px #ddd;
}

.sentence-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #8f9193;
    font-size: 12px;
    margin-bottom: 5px;
    user-select: none;
}

.sentence-upper-menu-btn {
    font-size: 14px;
}

.sentence-upper-menu-btn:hover {

    cursor: pointer;
}


.sentence-upper-time:hover {
    cursor: pointer;
}

.main-word:hover {
    background-color: lightpink;
    cursor: pointer;
}

.tag {
    display: inline-block;
    color: #5783f7;
    background-color: #eef3fe;
    padding: 5px;
    border-radius: 3px;
    transition: 0.3s;
}

.tag:hover {
    background-color: #5783f7;
    color: white;
}