* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}

#writing-app {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: helvetica, arial, sans-serif;
    color: #666;
    font-weight: lighter;
}

.field {
    position: relative;
}

.field i {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

form {
    width: 500px;
    margin: 0 auto;
}

input,
#submitBtn,
textarea {
    position: relative;
    -webkit-apprearance: none;
    -moz-apprearance: none;
    apprearance: none;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #C7C7C7;
    background-color: var(--bcolor-gray-primary);
    -webkit-transition: background-color .3s, border-color .4s;
    -moz-transition: background-color .3s, border-color .4s;
    -o-transition: background-color .3s, border-color .4s;
    transition: background-color .3s, border-color .4s;
}

textarea {
    height: 300px;
    resize: none;
}

input:focus,
textarea:focus,
input:hover,
textarea:hover {
    outline: none;
    border-color: #777;
}

#submitBtn {
    display: block;
    border: none;
    background-color: #666;
    color: #fff;
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: #555;
}

#submitBtn:before,
#submitBtn:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    line-height: 50px;
    cursor: default;
}

/* --------------------------------------------------- */
/*	Rolling button style compliments of CodDrops.com
/* --------------------------------------------------- */
#submitBtn:after {
    top: -100%;
    content: attr(data-success);
    background: #7aca7c;
    color: #358337;
    -webkit-transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
    -moz-transform-origin: 0% 100%;
    -moz-transform: rotateX(90deg);
    -ms-transform-origin: 0% 100%;
    -ms-transform: rotateX(90deg);
    transform-origin: 0% 100%;
    transform: rotateX(90deg);
}

#submitBtn:before {
    top: 100%;
    background: #e96a6a;
    color: #a33a3a;
    content: attr(data-error);
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: rotateX(-90deg);
    -moz-transform-origin: 0% 0%;
    -moz-transform: rotateX(-90deg);
    -ms-transform-origin: 0% 0%;
    -ms-transform: rotateX(-90deg);
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
}

#submitBtn.submit-success {
    background: #aaa;
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: rotateX(-90deg) translateY(100%);
    -moz-transform-origin: 50% 100%;
    -moz-transform: rotateX(-90deg) translateY(100%);
    -ms-transform-origin: 50% 100%;
    -ms-transform: rotateX(-90deg) translateY(100%);
    transform-origin: 50% 100%;
    transform: rotateX(-90deg) translateY(100%);
}

#submitBtn.submit-error {
    background: #aaa;
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: rotateX(90deg) translateY(-100%);
    -moz-transform-origin: 50% 0%;
    -moz-transform: rotateX(90deg) translateY(-100%);
    -ms-transform-origin: 50% 0%;
    -ms-transform: rotateX(90deg) translateY(-100%);
    transform-origin: 50% 0%;
    transform: rotateX(90deg) translateY(-100%);
}

/* --------------------------------------------------- */
/*	Validation Styles
/* --------------------------------------------------- */
.success {
    background-color: #EAFFF8;
}

.success+i {
    color: #1C9D39;
    display: block;
}

.error+i {
    color: #B82020;
    display: block;
}

.error {
    background-color: #FFF1FF;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

html,
body {
    height: 100%;
}

body {
    font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 5%;
}

.chat {
    width: 100%;
    height: 80%;
    border: solid 1px #EEE;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 10px;
    overflow-y: scroll;
}

form {
    flex-shrink: 0;
    display: flex;
    width: 100%;
}

#messageBox {
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-style: solid;
}

#send {
    margin: 10px 0px;
    background: #0085D1;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
}



.messages {
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.receiving {
    align-items: flex-start;
}

.receiving .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
}

.sending {
    align-items: flex-end;
}

.sending .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
    background-attachment: fixed;
    position: relative;
}