.input-item {
    /* background-color: aqua; */
    font-size: 18px;
    border-bottom: solid 1px #e8e8e8;
    padding: 15px;
}

.input-item:has(:checked) {
    background-color: #e3e0e0;
    /* background-color: gray; */
}

/* input:checked+label {
    background-color: #fafafa;
} */