#tagM-container {
    width: 300px;
    /* height: 415px; */
    height: 100%;
    /* background-color: lightblue; */
    box-sizing: border-box;
    /* padding: 10px; */
    color: #9d9d9d;
    position: absolute;
    left: 40px;
    overflow: auto;
}

#tagM-container::-webkit-scrollbar {
    display: none
}

.tagM-title {
    /* height: 50px; */
    padding: 10px;
    color: #ded1b7;
    font-size: 12px;
    font-weight: bold;
    user-select: none;
}

#tag-trash {
    height: 36px;
    box-sizing: border-box;
    padding: 0px 12px;
    line-height: 36px;
    /* line-height: 100px; */
}

#tag-trash:hover {
    background-color: #efefef;
    border-radius: 5px;
    cursor: pointer;
}

.tag-blank {
    height: 20px;
}


#tag-trash-text {
    display: inline-block;
    font-size: 14px;
}

.tag-item {
    height: 36px;
    line-height: 36px;
    /* background-color: antiquewhite; */
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.tag-item:hover {
    background-color: #efefef;
    border-radius: 5px;
    cursor: pointer;
}

.tag-item:hover .fa {
    display: inline-block;
}

/* .tag-ellipsis-h:hover+.tag-item-tooltip {
    display: inline-block;

} */

.tag-item-text {
    display: inline-block;
    font-size: 14px;
}

.fa-hashtag,
.fa-trash {
    margin-right: 5px;
}

.tag-ellipsis-h {
    line-height: 36px !important;
    display: none;
    /* background-color: yellowgreen; */
    width: 30px;
    text-align: center;
}

.tag-item-left {
    display: inline-block;
}

.tag-item-tooltip {
    font-size: 12px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding: 0px 10px;
    bottom: 30px;
    right: -50px;
    display: none;
    color: white;
}

#tag-menu {
    width: 120px;
}

/* #tag-menu-del {
    
} */

#tag-menu-del:hover {
    color: lightcoral;
}